
@import url('https://fonts.googleapis.com/css?family=Kanit:700|Kanit:400');
*{
    color: #D6D6D6;
    background-color:#020f1d;
    font-family: 'Kanit';
    font-weight: 0;

/*
--text: #e7edf3;
--background: #020f1d;
--primary: #86b8f4;
--secondary: #0204b0;
--accent: #1988ff;
*/
}



header{
    margin:0;
}
#fHeader{
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    font-size: 1.2em;  
}
#headerLogo img{
    margin: 0%;
    padding: 0%;
    width: 20%; 
    left: 1%;
    position: absolute;
    top: 1%;
}

#headerLi{
    position: absolute;
    right: 2%;
    margin-right: 15px;
}
#headerLi li{
    list-style-type: none;
    display: inline;
}
#headerLi a{
    text-decoration: none;
}


#headerText{margin: 0%; text-align: center; font-size: 20px;}

.h1Title{
    color: #1667ff;
   
}
.h1College{
    color: #1988ff;
}
.h1Mindanao{
    color: #1988ffe4;
}
.h1Ph{
    color: #86b8f4;
}

#headerTitle{
    margin: 1% 0% 0%;
}
#headerHr{
    background-color: black; 
    height: 1px; 
    border: none; 
    margin: 2px 20px 2px;
}
#headerP{   
     margin-top: 0%;
}

/*---------
    MAIN 
        ----------*/
.fMainTitle{
    font-size: 7rem;
    color: #DEC07E;
    text-align: center;
}

#mainQ{
    text-align: center;
    color: wheat;
    font-size: 25px;
    margin-top: 160px;
    margin-bottom: 10rem;
    margin-left: 25px;
    
}

#mainQ article{
    font-size: 30px;
    text-align: left;
}
.mainQ3{
    margin-top: 5px;
    margin-bottom: 0%;
    padding-bottom:0%;
    margin-left: 5px;
    font-weight: bold;
    font-size:25px;

}
.mainQ3ul{
    font-size:25px;
    margin-left: 50px;
}
.mainQ3ul p{
    margin-top: 0;
    margin-left: 50px;
    font-size: 21px;
}

.strandss, .dtlsSum, .yawa {
    margin-bottom: 0%;
    margin-left: 25px;
    font-size: 22px;
}



.contacts{
    list-style-type: none;
    text-decoration: none;
    border: 5px;
    border-color: antiquewhite;
   
}
.contacts li{
    display: inline;
   

}

#contacts img{
    height: 20px;
    margin: 1%;
    border-color: rgb(187, 178, 178);
    
}

/* Desktop 
@media(max-width:1024px )
*/

@media(max-width:480px ){

    *{
        font-size: 15px;
    }

    #headerLogo img{
        width: 50%; 
        left:10%;
        position: absolute;
    }


    
}



